:root {
  --color: #fff;
  --highlight-color: #eed202;
  --background: #000;
  --menu-bg: rgb(24 24 24 / 90%);
  --menu-bg-hover: rgb(24 24 24);
  --button-color: var(--color);
  --button-background: #343434;
  --input-color: #111111;
  --input-background: #fefefe;
  --border-color: #111111;
  --tab-bg: var(--button-background);
  --tab-bg-active: #565656;
  --gutter-size: 1rem;
  --page-width: 80rem;
  --row-bg-even: rgb(170 170 170 / 0.35);
  --row-bg-odd: rgb(170 170 170 / 0.1);
  --app-bg: rgb(0 0 0 / 0.75);
  --modal-fg: var(--color);
  --modal-bg: rgb(0 0 0 / 0.95);

  font-family: sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;

  background-color: var(--background);
  &,
  & a {
    color: var(--color);
  }
}

table {
  border-collapse: collapse;
}

button,
.button {
  cursor: pointer;
  color: var(--button-color);
  background-color: var(--button-background);
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0.75rem;

  border-style: outset;
  &:active {
    border-style: inset;
  }
}

input {
  color: var(--input-color);
  background-color: var(--input-background);
  border-color: var(--border-color);
  border-style: solid;
  padding: 0.5rem 1rem;
}

input,
button,
.button {
  border-color: var(--border-color);
  border-width: 0.0625rem;
  border-radius: 0.5rem;
  font-size: inherit;

  &:focus {
    outline: 2px solid var(--highlight-color);
  }
}

.page-content {
  width: 100%;
  max-width: var(--page-width);
  margin: 0 auto;
  overflow-x: auto;
  padding-left: var(--gutter-size);
  padding-right: var(--gutter-size);
}

.app-body {
  padding-bottom: 2rem;
}

.app-ctr {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background: var(--app-bg);
}

#root,
#App,
body {
  min-height: 100%;
}
