.root {
  cursor: pointer;
  display: inline-block;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.avatar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background-color: #222;
  color: #eee;
  width: 2em;
  height: 2em;

  &,
  & img {
    border-radius: 0.25rem;
  }

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  & .avatar {
    font-size: 2rem;
  }
}

.infoTable {
  font-size: 0.875rem;
  & th {
    text-align: right;
  }
  & td:not(:first-child) {
    padding-left: 0.5rem;
  }
}
