.menu-ctr {
  position: relative;
  display: inline-block;

  & .menu-title {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &.menu-empty .menu-title {
    cursor: default;
  }
}

.menu-list {
  & .menu-item {
    display: flex;
    vertical-align: center;
    cursor: pointer;

    &:hover {
      background-color: var(--menu-bg-hover);
    }
  }
}
