.presence-ctr {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  & > :not(:first-child) {
    margin-left: 0.5rem;
  }

  & .presence-icon {
    width: 1.5rem;
    height: auto;
  }
  & .presence-clan {
    opacity: 0.75;
  }
  & .presence-name {
  }
}
