.servers-ctr {
}

.game-ctr {
  display: inline-flex;
  align-items: center;

  & .game-icon {
    width: 2rem;
    height: auto;
  }
  & .game-title {
    margin-left: 1rem;
  }
}

.games-ctr {
  margin-bottom: 2rem;

  & summary {
    cursor: pointer;
    display: flex;
    align-items: center;

    &::marker,
    &::-webkit-details-marker {
      display: none;
    }
  }
  & ul {
    list-style: none;
    position: absolute;
    background-color: var(--menu-background);
    width: 100%;
  }
  & li {
    padding: 10px;
    margin: 5px;
  }
  & li:hover {
  }
}

.game-icon {
}
