.soundboard-message-ctr {
  width: 100%;
  display: flex;
  margin-bottom: 2rem;
  gap: 0.5rem;

  & > input {
    flex: 1;
  }

  & .play-btn {
    width: auto;
  }
}

.soundboard-ctr {
  display: flex;
  flex-direction: column;
}

.soundboard-list-ctr {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(auto-fill, 9rem);
  gap: 1rem 1rem;
}

.sound-ctr {
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  border-radius: 0.5rem;
}

.sound-title-ctr {
  display: inline-flex;
  white-space: nowrap;
  flex: 1;
  font-size: 0.875rem;
}

.play-btn {
  position: relative;
  justify-content: space-between;

  & .play-icon-ctr {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;

    & svg {
      width: 100%;
      height: auto;
    }
  }

  background-image: linear-gradient(to right, rgb(255 255 255 / 10%), rgb(255 255 255 / 10%));
  background-repeat: no-repeat;
  background-size: 0;
  transition: background-size 0.5s linear;
}
