.tabs-ctr {
  display: flex;
  align-items: center;

  & .tab {
    text-transform: uppercase;
    background-color: var(--tab-bg);
    font-weight: bold;

    &.active {
      background-color: var(--tab-bg-active);
    }

    &:not(:first-child) {
      margin-left: 1rem;
    }
  }
}
